{% extends "layout.html" %}
{% block body %}

    <div class="panel" id="nav_tabs">
        <h3>Search</h3>
        <div>
        </div>
        <h3>Database</h3>
        <div>
            <form action="" method=post enctype=multipart/form-data>
            <br>
            <input type=file name=file>
            <br>
            <input type=submit value="Upload Image">
            </form>
            <br>
            <ul class=images>
            {% for img in images %}
                  <img src="/static/images/{{ img }}" width="100" title="{{ img }}">
            {% else %}
            <em>No images have been uploaded.</em>
            {% endfor %}
            </ul>
        </div>
        <h3>About</h3>
        <div>
            <p>
            CBIR
            <p>
            More text...
        </div>
    </div>

{% endblock %}

{# vim: set syntax=jinja : #}
