html, body {
    font-family:"Verdana";
}
#footer {
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
    padding:5px;
    background-color:transparent;
    z-index: 2;
    font-size:small;
}
.flash {
    width:100%;
    position:fixed;
    top:0;
    padding: 0.5em;
    border: 0px;
    text-align:center;
    background-color: #88ee00;
}
